<nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand">Recipe Book</a>
      
      <div class="nav-links">
        <ng-container *ngIf="authService.user | async as user; else authLinks">
          <a routerLink="/recipes">Recipes</a>
          <a routerLink="/recipes/create">Create Recipe</a>
          <a routerLink="/profile">Profile</a>
          <button class="logout-btn" (click)="logout()">Logout</button>
        </ng-container>
        
        <ng-template #authLinks>
          <a routerLink="/login">Login</a>
          <a routerLink="/register">Register</a>
        </ng-template>
      </div>
    </div>
  </nav>